.x-tip {
	background-color:#F9EEB8 !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	border-radius:3px !important;
	border:1px solid #C7BE93 !important;
	color: #555 !important;
	right: 10px !important;
	padding: 5px !important;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
	font-size:11px !important;
}

.x-tip-body-default {
	font-size: 11px !important;
	overflow: visible !important;
}

.x-tip-body-form-invalid {
	font-size: 11px;
}

.x-list-plain {
	font-size: 11px;
}