.x-toolbar-footer {
    background: none repeat scroll 0 0 transparent;
    border-color: #D9D9D9;
    border-radius: 6px 6px 4px 4px
}

.x-menu-item-text {
	font-size: 12px;
}

.x-menu-item {
	padding: '5px 5px 0 5px';
}

.x-docked-bottom {
	padding: 0px;
}

.x-toolbar-footer {
	padding: 6px 0 6px 6px;
}

.paging_toolbar {
	padding: 4px 0 4px 6px !important;
}

.x-btn-group-body-default-framed .x-table-layout {
	border-spacing: 0px;
}

.x-btn-group-default-framed-notitle {
	border-width: 0px;
}