<div id="start_page">
	
	<p>	<%= link_to "New Loan", 	new_loan_path,	id: "link_to_button" %> </p><br>
	
	
	<p>	<%= link_to "Add Book",	 	new_book_path,	id: "link_to_button" %> </p><br>
	
	
	<p>	<%= link_to "Create User", 	new_user_path,	id: "link_to_button" %> </p><br>
	
</div>