<div id="start_page">

	<%= link_to "New Loan", 	new_loan_path,	id: "link_to_button" %> 
	<%= link_to "Add Book",	 	new_book_path,	id: "link_to_button" %>
	<%= link_to "Create User", 	new_user_path,	id: "link_to_button" %>

</div>